body{
  margin: 0px; 
}

main{
  margin-left: 20px;
  margin-right: 20px;
  display: flow-root;
}

#image_left{
  float:left;
  margin-right: 16px;
  margin-bottom: 16px;
}

#image_right{
  float:right;
  margin-left: 16px;
  margin-bottom: 16px;
}

.navbar ul{
  list-style-type: none;
  background-color: rgb(179,73,107);
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: rgb(180, 99, 124);
}

.navbar li{
  float: left;
}
